In [87]:
import pandas as pd
import numpy as np

<h3 style="color:green">Need to Scaling for --> KNN, K-Means, PCA</h3>

In [88]:
df = pd.read_csv('../Data/job-data.csv')
df

,joining_date,job_title,required_experience,Overall_Satisfication,Working_model,Considering_Job_Switching_in_Future,Main_Reasons,Salary
0,12/10/2023,Junior Software Developer (Backend),Fresh graduate,Satisfied,On Site,No,I am happy with my work role,19000
1,03/01/2022,Data Scientist,More than 2 years,Satisfied,Remote,Yes,Better salary/benefits,50000
2,02/06/2022,Data Scientist,More than 2 years,Satisfied,On Site,Yes,"Career Development, Salary andBenefits",115000
3,01/03/2021,Senior Software Engineer (Backend),More than 2 years,Very Satisfied,On Site,No,I am happy with my work role,100000
4,03/08/2021,Software Developer (Backend),More than 2 years,Satisfied,On Site,Yes,Seeking better work-life balance,47000
...,...,...,...,...,...,...,...,...
244,01/02/2024,Software Quality Assurance Engineer,Fresh graduate,Neutral,On Site,Yes,"Career Development, Salary and Benefits",7000
245,01/02/2023,Software Developer (Backend),More than 3 years,Satisfied,On Site,No,I am happy with my work role,80000
246,02/01/2022,Software Developer (Frontend),More than 3 years,Satisfied,On Site,Yes,Better salary/benefits,26000
247,01/02/2023,Full Stack Developer,Less than 2 years,Satisfied,Remote,Yes,Better salary/benefits,75000
248,01/02/2022,Full Stack Developer,More than 5 years,Satisfied,Remote,Yes,Better salary/benefits,110000

In [89]:
# Define salary ranges for each category
salary_ranges = [(0, 30000), (30001, 50000), (50001, 70000), (70001, 90000), (90001, float('inf'))]
categories = ['Low', 'Medium-Low', 'Medium', 'Medium-High', 'High']

# Create a new categorical column based on the salary ranges
def categorize_salary(salary):
    for i, (lower, upper) in enumerate(salary_ranges):
        if lower <= salary <= upper:
            return categories[i]

df['Salary_Category'] = df['Salary'].apply(categorize_salary)

df.tail(3)

,joining_date,job_title,required_experience,Overall_Satisfication,Working_model,Considering_Job_Switching_in_Future,Main_Reasons,Salary,Salary_Category
246,02/01/2022,Software Developer (Frontend),More than 3 years,Satisfied,On Site,Yes,Better salary/benefits,26000,Low
247,01/02/2023,Full Stack Developer,Less than 2 years,Satisfied,Remote,Yes,Better salary/benefits,75000,Medium-High
248,01/02/2022,Full Stack Developer,More than 5 years,Satisfied,Remote,Yes,Better salary/benefits,110000,High

In [90]:
X = df[['job_title', 'required_experience']]
X.head(3)

                             job_title required_experience
0  Junior Software Developer (Backend)      Fresh graduate
1                       Data Scientist   More than 2 years
2                       Data Scientist   More than 2 years

In [91]:
y = df.Salary_Category

In [92]:
y.head(2)

0           Low
1    Medium-Low
Name: Salary_Category, dtype: object

In [93]:
yy = df.Salary
yy.head(4)

0     19000
1     50000
2    115000
3    100000
Name: Salary, dtype: int64

In [94]:
from sklearn.preprocessing import LabelEncoder
le_x = LabelEncoder()

In [95]:
X = X.apply(le_x.fit_transform)
X

     job_title  required_experience
0           14                    0
1            3                    2
2            3                    2
3           20                    2
4           23                    2
..         ...                  ...
244         28                    0
245         23                    3
246         24                    3
247          9                    1
248          9                    5

[249 rows x 2 columns]

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, yy_train, yy_test = train_test_split(X, yy, test_size=.2, random_state= 4)

In [97]:
from sklearn.linear_model import LinearRegression
my_model = LinearRegression()
my_model.fit(X, yy)

LinearRegression()

In [98]:
my_model.score(X_test, yy_test)

0.695929113125954

In [102]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
result = cross_val_score(LinearRegression() , X, yy, cv=10)
result

array([0.37289614, 0.77405982, 0.67458821, 0.72610426, 0.82904506,
       0.43587061, 0.53603058, 0.56758981, 0.40480706, 0.62427668])

In [103]:
result.mean()

0.5945268235329804