In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [4]:
df['test_field'] = ['a', 'b', 'c']
df

        day  temperature  windspeed  event test_field
0  1/1/2017           32          6   Rain          a
1  1/2/2017           35          7  Sunny          b
2  1/3/2017           28          2   Snow          c

In [9]:
df['wind_persent'] = (df['windspeed']/df['temperature']*100).apply('{:,.2f}%'.format)
df

        day  temperature  windspeed  event test_field wind_persent
0  1/1/2017           32          6   Rain          a       18.75%
1  1/2/2017           35          7  Sunny          b       20.00%
2  1/3/2017           28          2   Snow          c        7.14%