In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('data/climate_data.xlsx')
df

         day  temperature  windspeed   event
0 2023-01-01           27          3  Cloudy
1 2023-01-02           31          6   Rainy
2 2023-01-03           34          9   Sunny

In [10]:
df['test'] = 'Dummy'
df

         day  temperature  windspeed   event   test
0 2023-01-01           27          3  Cloudy  Dummy
1 2023-01-02           31          6   Rainy  Dummy
2 2023-01-03           34          9   Sunny  Dummy

In [11]:
df.drop('test', axis=1, inplace=True)
df

         day  temperature  windspeed   event
0 2023-01-01           27          3  Cloudy
1 2023-01-02           31          6   Rainy
2 2023-01-03           34          9   Sunny