In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
df.sort_values(['HP'], ascending=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
388,355,Duskull,Ghost,NaN,295,20,40,90,30,90,25,3,False
487,439,Mime Jr.,Psychic,Fairy,310,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [7]:
df['Test'] = df['HP'] + df['Attack']

In [8]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Test
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,190

In [9]:
df = df.drop(columns=['Test'])
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
df['Test'] = df.iloc[:, 5:11].sum(axis=1)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Test
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

In [11]:
cols = list(df.columns)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Test']

In [12]:
df = df[cols[0:5] + [cols[-1]] + [cols[-2]] + cols[5:11]]
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,600,True,80,110,120,130,90,70

In [13]:
df.to_csv('data/mod_file.csv')

In [14]:
df.to_excel('data/mod_file.xlsx')

In [15]:
df.to_csv('data/mod_file.txt', sep='\t')

In [16]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >= 70)]

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
50,45,Vileplume,Grass,Poison,490,490,False,75,80,85,110,90,50
77,71,Victreebel,Grass,Poison,490,490,False,80,105,65,100,70,70
652,591,Amoonguss,Grass,Poison,464,464,False,114,85,70,85,80,30

In [17]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >= 70)]
new_df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
50,45,Vileplume,Grass,Poison,490,490,False,75,80,85,110,90,50
77,71,Victreebel,Grass,Poison,490,490,False,80,105,65,100,70,70
652,591,Amoonguss,Grass,Poison,464,464,False,114,85,70,85,80,30

In [18]:
new_df = new_df.reset_index()
new_df

,index,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
2,50,45,Vileplume,Grass,Poison,490,490,False,75,80,85,110,90,50
3,77,71,Victreebel,Grass,Poison,490,490,False,80,105,65,100,70,70
4,652,591,Amoonguss,Grass,Poison,464,464,False,114,85,70,85,80,30

In [19]:
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,600,True,80,110,120,130,90,70

In [20]:
df.loc[df['Type 1'].str.contains('Fire|Grass')]

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,369,False,62,50,58,73,54,72
736,668,Pyroar,Fire,Normal,507,507,False,86,68,72,109,66,106
740,672,Skiddo,Grass,NaN,350,350,False,66,65,48,62,57,52
741,673,Gogoat,Grass,NaN,531,531,False,123,100,62,97,81,68
799,721,Volcanion,Fire,Water,600,600,True,80,110,120,130,90,70

In [21]:
import re

In [23]:
df.loc[df['Type 1'].str.contains('fire|grass' , flags= re.I) ]

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,369,False,62,50,58,73,54,72
736,668,Pyroar,Fire,Normal,507,507,False,86,68,72,109,66,106
740,672,Skiddo,Grass,NaN,350,350,False,66,65,48,62,57,52
741,673,Gogoat,Grass,NaN,531,531,False,123,100,62,97,81,68
799,721,Volcanion,Fire,Water,600,600,True,80,110,120,130,90,70

In [26]:
df.loc[df['Type 1']=='Fire', 'Type 1'] = 'Agunn'
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Agunn,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,80,160,60,170,130,80
799,721,Volcanion,Agunn,Water,600,600,True,80,110,120,130,90,70

In [29]:
df.loc[df['Type 1'] == 'Grass', 'HP'] = 69
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,69,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,69,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,69,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,69,100,123,122,120,80
4,4,Charmander,Agunn,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,80,160,60,170,130,80
799,721,Volcanion,Agunn,Water,600,600,True,80,110,120,130,90,70

In [31]:
df.loc[df['Total'] >= 500, ['HP', 'Attack']] = 0
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,69,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,69,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,0,0,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,0,0,123,122,120,80
4,4,Charmander,Agunn,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,0,0,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,0,0,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,0,0,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,0,0,60,170,130,80
799,721,Volcanion,Agunn,Water,600,600,True,0,0,120,130,90,70

In [32]:
df.loc[df['Total'] >= 500, ['HP', 'Attack']] = ['1', '99']
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,69,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,69,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,1,99,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,1,99,123,122,120,80
4,4,Charmander,Agunn,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,1,99,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,1,99,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,1,99,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,1,99,60,170,130,80
799,721,Volcanion,Agunn,Water,600,600,True,1,99,120,130,90,70