In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame({'col one' : [100, 200], 'col two' : [300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [18]:
df.columns = df.columns.str.replace(' ', '--')
df

   col--one  col--two
0       100       300
1       200       400

In [23]:
df.rename({'col--one' : 'Col__One'}, axis='columns')

   Col__One  col--two
0       100       300
1       200       400